{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}
    <title>Login Page</title>

    <style type="text/css">
        legend{
            font-size: 3rem;
            font-weight: 600;
            background: -webkit-linear-gradient(#191922,#17a2b8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        input[type=text],input[type=text]:focus,
        input[type=email],input[type=email]:focus,
        input[type=password],input[type=password]:focus{
            background-color: #101316;
            color: #fff;
        }
        input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
            border: 1px solid #17a2b8;
        }
        label,small a{
            color: #97B4B4;
        }
    </style>

{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 main-t">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Log In
                    </button>
                </div>
            </form>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
            

        </div>
    </div>
</div>


{% endblock content %}
