{% include "base.html" %}
{% load static %}

{% block title %}
    <title>Home Panel</title>
{% endblock title %}


{% block container %}

<div class="container mt-5">
    <h1>Here home panel</h1>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    Subscribe Monthly
                </div>
                <div class="card-body">
                    <div class="btn btn-primary">
                        Subscribe for monthly at $50
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    Subscribe Yearly
                </div>
                <div class="card-body">
                    <div class="btn btn-primary">
                        Subscribe for Yearly at $555
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}